<div class="shop-visual">
  <div class="top-inner-text">
    <h1 class="shop-message">Shop</h1>
  </div>
</div>
<div class="container">
  <h1 class="text-center my-5">店舗情報</h1>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 py-4 mb-3">
      <table class="table table-bordered bg-white">
        <h3 class="text-center mb-5">LunchcafeOcean</h3>
        <tr>
          <th scope="row" class="table-active align-middle text-center">住所</th>
          <td>〒905-1152<br>
            沖縄県沖縄市沖縄町111</td>
        </tr>
        <tr>
          <th scope="row" class="table-active text-center">電話番号</th>
          <td>090-0000-0000</td>
        </tr>
        <tr>
          <th scope="row" class="table-active align-middle text-center">営業時間</th>
          <td>lunch time 11:00 - 15:00<br>
            sweets time 15:00 - 17:00</td>
        </tr>
        <tr>
          <th scope="row" class="table-active text-center">定休日</th>
          <td>木曜日</td>
        </tr>
        <tr>
          <th scope="row" class="table-active text-center">席数</th>
          <td>30席</td>
        </tr>
        <tr>
          <th scope="row" class="table-active text-center">駐車場</th>
          <td>有</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="text-center my-5">
    <%= link_to "Googlemapで行き方を調べる", "https://goo.gl/maps/Px5Fo6YvZNZq4q968", target: :_blank, rel: "noopener noreferrer", class:"btn btn-outline-success" %>
  </div>
</div>
