<div class="col-6 col-md-3">
  <div class="card border-0 bg-transparent">
    <%= image_tag menu.menu_image.url, class: "card-img-top img-fluid rounded" %>
    <div class="card-body">
      <h5 class="card-title text-center"><%=simple_format menu.name%></h5>
      <small class="card-text"><%=simple_format menu.content%></small>
    </div>
  </div>
</div>
