<%= @user.name %>様


パスワード再設定のリクエストがありました。
下記のURLをクリックして、パスワード再設定手続きを完了してください。


<a href="<%= @url %>"><%= @url %></a>


※このメールは配信専用です。ご返信いただいてもお答えできません。
※このメールに心当たりがない場合は、このメールの削除をお願いいたします。

ランチカフェオーシャン運営