<p><%= @user.name %>様</p>


<p>パスワード再設定のリクエストがありました。</p>
<p>下記のURLをクリックして、パスワード再設定手続きを完了してください。</p>


<p><a href="<%= @url %>"><%= @url %></a></p>


<p>※このメールは配信専用です。ご返信いただいてもお答えできません。</p>
<p>※このメールに心当たりがない場合は、このメールの削除をお願いいたします。</p>

<p>ランチカフェオーシャン運営</p>