<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="my-3">
        <h2>ニュース編集</h2>
      </div>
      <%= render "form", {url: admin_news_path, news: @news } %>
    </div>
  </div>
</div>
