<% content_for(:title, "会員情報変更") %>
<div class="container">
  <h2 class="text-center my-5">会員情報変更</h2>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <%= render "editform" %>
      <div class="text-center mb-5">
        <%= link_to "マイページへ", "/mypage" %><br>
        <%= link_to "Homeへ", root_path %>
      </div>
    </div>
  </div>
</div>
