<div>
  <%#= link_to news_path(news), class: "card border-0 px-2" do %>
    <div class="row border-top border-dark py-5 bg-white">
      <div class="text-muted col-xl-4 text-nowrap">
        <%= l news.created_at, format: :news %>
      </div>
      <div class="w-100 d-xl-none"></div>
      <b class="col-10 col-xl-6"><%= news.title%></b>
      <div class="col-1">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
    <%# end %>
  </div>
