<div class="row">
  <div class="col-12 mb-3">
    <%= form_with model:@reservation, url: admin_closed_path(@capacity), local: true  do |f| %>
      <div class="row">
        <div class="form-inline align-items-right mx-auto">
          <div class="col-auto">
            <%= f.label :start_time %>
            <%= f.date_field :start_time, class: "form-control", required: true %>
          </div>
          <div class="col-auto">
            <%= f.submit "更新",  class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
