<p><%= @contact.name %>様</p>

<p>この度は、お問い合わせいただき誠にありがとうございます。</p>

<p>2営業日以内に，担当者よりご連絡いたします。</p>

<p>今後ともランチカフェオーシャンををよろしくお願いいたします。</p>

<p>========== お問い合わせ内容 ==========</p>

<p><%=@contact.category_i18n%></p>

<p><%= simple_format @contact.message %></p>

<p>===================================</p>


<p>※このメールは配信専用です。ご返信いただいてもお答えできません。</p>
<p>※このメールに心当たりがない場合は、このメールの削除をお願いいたします。</p>

<p>ランチカフェオーシャン運営</p>