<div class="container p-3 p-md-4 p-lg-5">
  <div class="mb-3 text-center">
    <h1>管理画面</h1>
  </div>
  <div class="my-5">
    <% if Reservation.count_today_reservation.positive? %>
      <h3>本日の予約 : 
        <%= link_to "/admin/capacities/#{Capacity.today_id}" do%>
          <%= Reservation.count_today_reservation %>件
        <% end %>
      </h3>
    <% else %>
      <h3>本日の予約はありません</h3>
    <% end %>
  </div>
  <div class="my-3">
    <h3>新着予約</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">予約受付日</th>
              <th scope="col" class="text-nowrap">来店日</th>
              <th scope="col" class="text-nowrap">ステータス</th>
              <th scope="col" class="text-nowrap"></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "reservation", collection: @reservations %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="my-3">
    <h3>新着お問い合わせ</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">問い合わせ日時</th>
              <th scope="col" class="text-nowrap">種類</th>
              <th scope="col" class="text-nowrap">ステータス</th>
              <th scope="col" class="text-nowrap"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @contacts %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
