<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="my-3">
        <h2>メニュー追加</h2>
      </div>
      <%= render "form", {url: admin_menus_path, menu: @menu } %>
    </div>
  </div>
</div>
